.c-list{
	padding-left: 20px;

	li {
		display: flex;
		margin: 4px 0;

		&:before{
			content: '';
			width: 7px;
			height: 7px;
			flex-shrink: 0;
			background: $clr-primary;
			margin-right: 6px;
			display: inline-block;
			margin-top: 10px;
			border-radius: 50%;
		}
	}
}