.c-hero{
	margin-bottom: 100px;
	position: relative;
	
	@media (max-width: $bp-sm) {
		margin-bottom: 50px;
	}

	&__img{
		height: 100%;
		width: 100%;
		position: relative;
		
		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,.3);
			position: absolute;
			left: 0;
			top: 0;
		}

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;

			@media (max-width: $bp-md) {
				object-position: left;
			}
		}
	}
	
	&__slider{
		height: 600px;

		@media (max-width: $bp-lg) {
			height: 300px;
		}
	}

	&__slide{
		position: relative;
	}

	&__content,
	&__title-wrap{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		padding-bottom: 5rem;
		z-index: 2;
	}

	&__title-wrap{
		@media (max-width: $bp-lg) {
			padding-bottom: 2rem;
		}
	}

	&__content{
		@media (max-width: $bp-lg) {
			position: static;
			padding: 0;
			max-width: initial;
		}
	}

	&__title{
		color: #fff;
		max-width: 68rem;
		font-size: 4rem;
		
		@media (max-width: $bp-xl) {
			font-size: 3rem;
		}

		@media (max-width: $bp-md) {
			font-size: 2rem;
		}
	}
}