.c-section{
	margin-bottom: 8rem;

	@media (max-width: $bp-sm){
		margin-bottom: 4rem;
	}

	&__title{
		text-align: center;
		font-size: 3.6rem;
		margin-bottom: 4rem;

		@media (max-width: $bp-sm) {
			font-size: 3rem;
			margin-bottom: 2rem;
		}
	}

	&_news{
		padding: 4rem 0px;
		margin-bottom: 4rem;
		background: $clr-gray-bg;
	}
}