<!DOCTYPE html>
html(lang="ru")
	head
		include templates/head.pug
	body.o-body.o-body_single
		include templates/header.pug
		.o-body__content
			.c-hero
				.c-hero__img
					img(src=require("@/img/content/summer-courses.jpg"), alt="")
				.container.c-hero__title-wrap.d-flex.align-items-end
					h2.c-hero__title Языковой лагерь <br> в Подмосковье
			.container
				.row
					.col-md-6
						h3.h-mb-9 «UNITED KINGDOM» детский лагерь с изучением английского
				.row
					.col-md-6
						.h-mb-8
							h6.h-color-primary.h-mb-2.h-font-weight-500 Рекомендуемый возраст
							p.s-article От 6 до 17 лет
						.h-mb-8
							h6.h-color-primary.h-mb-2.h-font-weight-500 О лагере
							p.s-article.
								Подмосковный лагерь с 15-летней историей, находящейся на территории пансионата "Лесной Городок" (15 км от МКАД по Минскому шоссе, недалеко от п. Лесной городок), которая во время заезда полностью арендуется и позволяет подарить ребенку активный отдых на природе с пользой для знаний в безопасной и охраняемой зоне площадью 10 га, утопающей в живописном смешанном лесу.<br><br>
								Акцент программы детского лагеря направлен на изучение английского языка, проходящее преимущественно в игровой форме, что положительно влияет на развитие разговорного английского. Это помогает ребенку во время каникул отдохнуть от привычных уроков иностранного языка в школе. Занятия проходит в небольших группах по 8-12 человек в каждой. Если выясняется, что ребенку легко или тяжело заниматься в своей группе его свободно переведут в другую, соответствующую ему по уровню знаний. Уроки в лагере направлены на увеличение словарного запаса, раскрытие уже полученных знаний и приобретение новых, понимание английского как средства общения. Благоприятная и позитивная обстановка в коллективе позволяет ребенку чувствовать себя уютно на занятиях, что способствует повышению интереса детей к знаниям. Программа разработана старшим преподавателем кафедры английского языка Московского областного Социально-Гуманитарного Института - Бочковой С. Н. Объединенное Королевство дает возможность детям в позитивной атмосфере познавать английский, отдыхать от учебы, восполнять силы перед началом  нового учебного года. Программа благоприятно влияет на развитие у ребенка коммуникабельности, индивидуальности и умения разговаривать на английском языке.
						.h-mb-8
							h6.h-color-primary.h-mb-2.h-font-weight-500 Питание
							p.s-article Пятиразовое по системе "шведский стол". Меню разрабатывается в соответствии с нормами по организации детского питания, чтобы было разнообразным, вкусным, здоровым и сбалансированным. Столовая на 180 мест оснащена новой мебелью и необходимым технологическим оборудованием.
						.h-mb-8
							h6.h-color-primary.h-mb-2.h-font-weight-500 Организатор программы
							.s-article
								a(href="#") бюро путешествий «Айзорэль»
					.col-md-6
						.h-mb-8
							h6.h-color-primary.h-mb-2.h-font-weight-500 Условия комфортного проживания
							p.s-article.
								4-х этажный корпус, все комнаты с удобствами. Каждый номер оснащен  необходимым набором современной мебели и санитарными блоками (душ, туалет и умывальник). Все окна оборудованы противомоскитными сетками.<br><br>

								Проживание по 2-3 человека. Комнаты, помещения и территория лагеря ежедневно обеспечивается всеми необходимыми для детского отдыха мероприятиями: гигиеническими, профилактическими в соответствии с СанПин и требованиями Роспотребнадзора. На каждом этаже в корпусах стоят кулеры с питьевой водой.
						.h-mb-8
							h6.h-color-primary.h-mb-2.h-font-weight-500 Стоимость
							.s-article
								table
									thead
										tr
											th Заезды
											th Стоимость
									tbody
										tr
											td 31 мая – 13 июня
											td 47 700 ₽
										tr
											td 31 мая – 13 июня
											td 47 700 ₽
						.h-mb-8
							h6.h-color-primary.h-mb-2.h-font-weight-500 В стоимость входит
							.s-article
								p.
									Пятиразовое по системе "шведский стол". Меню разрабатывается в соответствии с нормами по организации детского питания, чтобы было разнообразным, вкусным, здоровым и сбалансированным. Столовая на 180 мест оснащена новой мебелью и необходимым технологическим оборудованием.
								ol
									li Проживание в комфортабельных корпусах по 2-3 человека в комнате с удобствами.
									li Пятиразовое питание по системе "шведский стол".
									li Инфраструктура лагеря:
										ul
											li площадки для игровых видов спорта: футбол и волейбол
											li спортивный зал
				.d-flex.flex-column.align-items-center.justify-content-center.h-mt-9
					.c-gift-block.row.d-flex.align-items-center.h-mb-9
						.col-9.col-sm-8
							.d-flex.align-items-center
								h2.c-gift-block__value -5
								.d-flex.flex-column
									h3.c-gift-block__percent.h-font-weight-500 %
									h6.h-font-weight-500 Скидка
							p.h-mb-0.c-gift-block__txt Особые условия для <br> студентов «Говорунов»

						.col-3.col-sm-4
							img(src=require("@/img/icons/gift.svg"), alt="")
					button.c-btn.c-btn_primary.c-btn_luminous забронировать
		include templates/footer.pug
		include templates/icons.pug