.c-price-block{
	border-radius: 8px;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
	padding: 30px 40px;
	background: #FDFDFD;
	border-top: 3px solid $clr-primary;
	position: relative;
	overflow: hidden;

	&_has-communication-type{
		padding-top: 60px;
	}

	&__icon{
		max-width: 100px;
		max-height: 100px;
	}

	&__subtitle{
		color: #777;
	}

	&__communication-type{
		& > .c-tabs{
			&__nav{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;

				.c-tabs__button{
					flex-grow: 1;
					border-radius: 0;

					&:first-child{
						border-left: none;
					}

					&:last-child{
						border-right: none;
					}
				}
			}

		}
	}

	&__info{
		background: none;
		border-radius: 50%;
		padding: 0;
		width: 27px;
		height: 27px;
		border: 2px solid $clr-primary;

		svg{
			fill: $clr-primary;
			width: 100%;
			height: 100%;
			display: block;
		}

		&:hover{
			background: $clr-primary;
			
			svg{
				fill: #fff;
			}
		}
	}

	&__price-meta{
		font-size: 1.2rem;
		color: $clr-gray400;
	}
	
	&__duration{
		text-align: center;

		.c-tabs{
			&__nav{
				display: flex;
				justify-content: center;
				margin-bottom: 2.5rem;
			}

			&__content{
				ul{
					li{
						display: flex;
						justify-content: center;

						&:not(:last-child){
							margin-bottom: .8rem;
						}
					}
				}
			}
		}
	}

	&__duration-title{
		font-size: 1.2rem;
		color: #777;
	}

	&__price{
		font-size: 4.8rem;
		color: $clr-primary;
		font-weight: 500;
		line-height: 1;
	}

	&__price-title{
		color: $clr-primary;
	}

	&__action{
		&_order{
			max-width: 280px;
		}
	}
}